{erl_opts,
 [debug_info, warn_export_vars, warn_unused_import, warnings_as_errors, {i, "src"}]}.

{deps, []}.

{minimum_otp_vsn, "23"}.

{project_plugins,
 [{rebar3_hex, "~> 6.11.7"},
  {rebar3_format, "~> 1.0.1"},
  {rebar3_lint, "~> 1.0.1"},
  {rebar3_hank, "~> 1.2.2"}]}.

{dialyzer, [{warnings, [no_return, unmatched_returns, error_handling, underspecs]}]}.

{xref_checks,
 [deprecated_function_calls, exports_not_used, locals_not_used, undefined_function_calls]}.

%% ignore generated modules
{xref_ignores, [mql_parser, mql_scanner]}.

%% yecc options
{yrl_opts, [{verbose, true}]}.

%% leex options
{xrl_opts, [{verbose, true}]}.

{cover_enabled, true}.

{cover_opts, [verbose]}.

{alias,
 [{test, [compile, format, hank, dialyzer, xref, {ct, "--verbose"}, cover, edoc]}]}.

{format, [{ignore, ["src/ps/*.erl"]}]}.

{hank, [{ignore, ["src/mql_parser.erl", "src/mql_scanner.erl"]}]}.
